# Make Tab autocomplete regardless of filename case
set completion-ignore-case on

# Make Tab autocomplete on - or _ matching
set completion-map-case on

# List all matches in case multiple possible completions are possible
set show-all-if-ambiguous on

# Don't ring bell on completion
set bell-style none

# Append "/" to all dirnames
set mark-directories on
set mark-symlinked-directories on

# Match all files
set match-hidden-files on

# 'Magic Space': Insert a space character then performs a history expansion in the line
Space: magic-space

# History searching
"\e[A": history-search-backward
"\e[B": history-search-forward
"\e[C": forward-char
"\e[D": backward-char
