# COLORIZE ls
export CLICOLOR=1
export LSCOLORS=GxFxCxDxBxegedabagaced

# JRuby options
export JRUBY_OPTS="-J-Xmx1g -J-Xms1g -J-XX:MaxPermSize=512M -Xcompile.invokedynamic=false"

# Docker options
export DOCKER_HOST=tcp://192.168.59.103:2376
export DOCKER_CERT_PATH=~/.boot2docker/certs/boot2docker-vm
export DOCKER_TLS_VERIFY=1
