[alias]
	st = status
	pr = pull --rebase
	pom = push origin master
[credential]
	helper = osxkeychain
[user]
	name = Ryan Oglesby
	email = ryan.oglesby08@gmail.com
[push]
	default = simple
[core]
	excludesfile = ~/.gitignore_global
